{% extends 'base.html.twig' %}

{% block title %}
    {{ block('title') }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse" id="main-nav">
        <div class="container-fluid" ng-app="firstApplication">
            <ul class="nav navbar-nav" ng-controller="autoCompleteController as ctrl">
                <li class="">
                    <select id="cigar-selector" style="width:100px;"></select>
                    {#<input id="cigar-selector" class="input-xlarge" name="optionvalue" data-placeholder="Choose An Option.." />#}
                </li>
                <li></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
    {{ block('content') }}



{% endblock %}

{% block stylesheets %}
<style>

    body{
        padding: 0;
        margin:0;
    }
    #cigar-index-search{
        border-radius:50px;
        margin-top:17px;
        font-size:22px;
        border:none;
    }
    #main-nav{
        height:75px;
    }
</style>
    {{ block('styles') }}
{% endblock %}

{% block javascripts %}
{% endblock %}
